.navbar-brand img {
  height:20px;
}
.navbar-brand {
  padding:10px 15px 15px 15px;
}
.navbar.hero .navbar-collapse .navbar-nav .button {
  padding: 8px 18px;
  font-size: 15px;
  position: relative;
  top: 7px;
  margin:0 -15px 0 10px;
}
@media (min-width: 768px) and (max-width: 991px)  {
  .navbar-brand img {
    height:18px;
  }
}
@media (min-width: 768px) {
  .hero #sign-in .button {
    display:block;
  }
  .hero #sign-in .link {
    display:none;
  }
}
@media (max-width: 767px) {
  .hero #sign-in .button {
    display:none;
  }
  .hero #sign-in .link {
    display:block;
  }
}
