.navbar-brand img {
  height:20px;
}
.navbar-brand {
  padding:10px 15px 15px 15px;
}
.navbar .navbar-collapse .navbar-nav .button {
  padding: 8px 18px;
  font-size: 15px;
  position: relative;
  top: 7px;
  margin:0 -15px 0 10px;
}
@media (min-width: 768px) and (max-width: 991px)  {
  .navbar-brand img {
    height:18px;
  }
}
@media (min-width: 768px) {
  #sign-in .button {
    display:block;
  }
  #sign-in .link {
    display:none;
  }
}
@media (max-width: 767px) {
  #sign-in .button {
    display:none;
  }
  #sign-in .link {
    display:block;
  }
}

.navbar.normal .navbar-collapse .navbar-nav .button {
  top: 0px;
}

.navbar.normal .navbar-header .navbar-brand {
  padding: 22px 15px;
}

#pricing #third-option .faq .header h3 {
  margin-top: 107px;
  font-size: 20px;
  color: #454545;
  text-align: left;
}

.black-logos img {
  -webkit-filter: invert(80%);
  -moz-filter: invert(80%);
  filter: invert(80%);
  height:40px;
}

#home #slider .slide-wrapper .slideshow .slide {

}
